*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;

}

body {
    // background-image: url("/images/loop-studios.svg");
    box-sizing: border-box;
    background-color: hsl(180, 52%, 96%);
    

}

.card-section {
    // margin-top: 5rem;
    position: relative;

    @include respondPhone {
        width: 75%;
        margin: auto;
    }

    &__search-container {
        position: relative;
        background-color: white;
        width: 75%;
        left: 50%;
        top: 0;
        padding: 1.2rem 1.5rem;
        transform: translate(-50%, -3.7rem);
        box-shadow: 0px 10px 10px -5px $color-box-shadow;
        border-radius: 5px;
        display: flex;
        margin-bottom: 3rem;
        justify-content: space-between;
        visibility: hidden;
        
        @include respondPhone {
            padding: 1.5rem 3rem;
            
        }

    }

    &__search-field {
        display: flex; 
        flex-wrap: wrap;
    }
}


