// Colors

$color-cyan-primary: hsl(180, 29%, 50%); //Desaturated Dark Cyan

$color-cyan-background: hsl(180, 52%, 96%); //Light Grayish Cyan (Background)
$color-cyan-filter-tablets: hsl(180, 52%, 96%); //Light Grayish Cyan (Filter Tablets)

$color-cyan-dark-1: hsl(180, 8%, 52%); //Dark Grayish Cyan
$color-cyan-dark-2: hsl(180, 14%, 20%); //Very Dark Grayish Cyan

$color-white: #fff;
$color-black: #000;
