.button {
    font-weight: 700;
    font-size: 1.3rem;
    color: $color-cyan-primary;

    &--tag {
        background-color: $color-cyan-filter-tablets;
        color: $color-cyan-primary;
        margin: .4rem 1rem 1.2rem 0rem; 
        padding: 1rem;
        cursor: pointer;
        
    }
    
    &--filter {
        background-color: $color-cyan-filter-tablets;
        display: flex;
        height: 3rem;
        border-radius: 5px;
        overflow: hidden;
        margin: .7rem;
        
    }

    &--clear {
        font-family: "Spartan";
        font-weight: 700;
        color: $color-cyan-dark-1; 
        border: none; 
        background: none;
        position: relative;
        cursor: pointer;
        
        span {

            &:after {
                content: "";
                position: absolute;
                // bottom: 0px;
                width: 0px;
                height: 1.5px;
                margin-top: 16px;
                transition: all .2s;
                opacity: 0;
                left: 0;
                background-color: $color-cyan-primary;
            }
        }

        &:hover {

            span {
                color: $color-cyan-primary;

                &:after {
                    width: 100%;
                    opacity: 1;
            
                }
            }
        }

        &:focus {
            outline: none;
        }
    }
}

.filter-text {
    padding: 0rem .7rem;
    line-height: 3rem;
}

.remove-icon {
    background-color: $color-cyan-primary;
    cursor: pointer;
    padding: .7rem .7rem .2rem .7rem;

    &:hover {
        background-color: $color-black;
    }
}